@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Muli');

$dark: #696773;
$primary: $dark;
$family-sans-serif: 'Muli', sans-serif;

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/elements/table.sass";

$table-head-cell-color: $dark;

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  text-align: center;
}

.search-area{
  display: flex;
  justify-content: center;
  .label, .select{
    margin: 20px;
  }
}

.table{
  margin: auto;
}
